<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Contact information</title>
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <img src="imgs/City.jpg" alt="Logo" height="800px" width=100% position: fixed;> 
  <header>
    <ul class="nav">
      <img src="imgs/Polaris.png" alt="Logo" height="80px" width= 100%>  
      <li><a href="/contact" class="active">Contact</a></li>
      <li><a href="/xp">Experience</a></li>
      <li><a href="/project">Project</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>
    <body>
          <h1>Contact</h1>

          <h2>How to reach me</h2>
          <p>
            <li>Email: joesome5674@gmail.com</li><br>
            <li>Phone #: 1800-555-5555</li><br>
            <li>Socailmedia: @totallynotafakeaccount</li>
          </p>
              <br>
</details>
      <footer>
          <img src="imgs/Polaris.png" alt="Logo" height="80px" width= 100%>
      </footer>
  </body>
</html>
