<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <img src="imgs/City.jpg" alt="Logo" height="800px" width=100% position: fixed;>
    <header>
      <ul class="nav">
        <img src="imgs/Polaris.png" alt="Logo" height="80px" width= 100% >  
        <li><a href="/contact">Contact</a></li>
        <li><a href="/xp">Experience</a></li>
        <li><a href="/project" class="active">Project</a></li>
        <li><a href="/about">About</a></li>
      </ul>
  </header>
</nav>

  <body>
<h1>Projects</h1>
<div id="wrapper">
  <a href="https://scratch.mit.edu/projects/106434200" target="_blank">
    <img src="imgs/troll1.png" alt="Scratch Project"> </a>
    <br>
  <a href="https://fathomless-everglades-91348.herokuapp.com/index.html" target="_blank">
    <img src="imgs/fathomless.png" alt="Group site"> </a>
      <footer>
          <img src="imgs/Polaris.png" alt="Logo" height="80px" width= 100%>
      </footer>
    </div>
  </body>
</html>
